@tailwind base;
@tailwind components;

.egg-slider-bg {
    background-position: center top 0 48px;
}

.egg-slider-background {
    background-position: center top 1rem;
}

.image-container {
    width: 100%;
}

.image-container > div {
    position: unset !important;
    overflow: visible !important;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

@tailwind utilities;